<div class="col-lg-6 col-lg-offset-3">
  <div class="well bs-component">
    <h3 class="welcome-msg col-lg-offset-3">Log in</h3>
      <p id="notice" class="col-lg-offset-3"><%= flash[:notice] %></p>
      
      <%= form_tag sessions_path, :id=>'signin-form', :method => 'post' do %>

        <%= label_tag('session[email]', "Email: ") %><br>            
        <%= email_field_tag 'session[email]'%><br>
        <%= label_tag('session[password]', "Password: ") %><br>            
        <%= password_field_tag 'session[password]'%><br>

        <%= submit_tag "Log In", class: "btn btn-primary", id:"login" %>

      <% end -%>

  </div>
</div>